################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.dll
/ProyectoBase/obj/Debug/Vista.frmConsultaPrestamos.resources
*.resources
/ProyectoBase/bin/Debug/ProyectoBase.pdb
